.form-label {
    margin-bottom: 1.5rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    height: 6vh;
}

.form-inputs {
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    width: 50%;
}

#card-row {
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    border: 0.2rem solid grey;
}