{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h1 class="text-center">Please fill out the below form to book a class</h1>
        </div>
    </div>
    <form class="form-control" method="POST">
        {% for bookings in booking_info %}
        <div class="row text-center">
            <h1>Logged in as: {{ bookings.user }}</h1>
        </div>
        <div class="row">
            <select class="form-control">
                <option>{{bookings.level}}</option>
            </select>
        </div>
        <div class="row">
            <select class="form-control">
                <option>{{bookings.time}}
                <option>
            </select>
        </div>
        <div class="row">
            <select class="form-control">
                <option>{{bookings.date}}
                <option>
            </select>
        </div>

        {% endfor %}
    </form>
</div>
{% else %}
<h1>You Must be logged in to book a class</h1>
{% endif %}
{% endblock %}