{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


{% if form.is_valid %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>Booking confirmation for: {{ user.get_username }}</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            {{ form.as_ul }}
            
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h1>Please Confirm the booking details before pressing submit</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <a href="{% url 'home' %}" class="btn btn-primary">Confirm</a>
        </div>
    </div>
</div>




{% else %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h1 class="text-center">Please fill out the below form to book a class</h1>
        </div>
    </div>
    <h1 class="text-center">Logged in as {{ user.get_username }}</h1>
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <form class="form-control" id="book-form" method="post">
                <table>
                    {{ form|crispy }}
                </table>
                {% csrf_token %}
                <div class="col text-center">
                    <button class="btn btn-primary" type="submit">Book now!</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}