{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h1 class="text-center">Please fill out the below form to book a class</h1>
        </div>
    </div>
    <h1 class="text-center">Logged in as {{ user.get_username }}</h1>
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <form class="form-control" id="book-form" method="post">
                <table>
                    {{ form|crispy }}
                </table>
                {% csrf_token %}
                <div class="col-10 text-center">
                    <button class="btn btn-primary" type="submit" action="{% url 'booking_detail' booking.id %}">Book now!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<h1>You Must be logged in to book a class</h1>
{% endif %}
{% endblock %}