{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 id="hero-header">Welcome To Little Ducks</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="card-row">
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1677000048/pexels-photo-887751_g9ounj.webp"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Contact us</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <div class="row">
                        <div class="col text-center">
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1676999554/sign-up_bzuiti.webp"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sign Up/Log In</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <div class="row">
                        <div class="col text-center">
                            <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1676999948/pexels-photo-61129_slvwdp.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Class search</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <div class="row">
                        <div class="col text-center">
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1677163945/pexels-photo-5076531_z60x5n.webp"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Book Online</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <div class="col text-center">
                        <a href="{% url 'booking' %}" class="btn btn-primary">Book Online</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}